h1{
    color : blue;
    border :solid;
    background-color: cyan ;
}
img{
    border: dashed black;
    border-radius: 40px;
    background-color: red;


}
p{
    font-family: comic sans ms;

}
body{
    background-color: turquoise;
}

.origamis {
    display: flex;
    background-color :aquamarine;
    flex-wrap: wrap;
    justify-content: space-evenly
}

